//GENERAL//

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

li {
  display: inline-block;
}

/*PUNTOS REFERENCIA ENLACES*/

.point-equipo {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -14%;
}

.point-quienes {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -4.5%;
}

section {
  position: relative;
}


//HEADER//
@import 'layout/header';

//MAIN-EQUIPO//
@import 'layout/mainequipo';

//MAIN-MIEMBROS
@import 'layout/mainquienessomos';

//FOOTER//
@import 'layout/footer';

//PAGINA-CONTACTO//
@import 'layout/contactpage';
