//mixing//
@import 'core/mixins';

//variables//
@import 'core/variables';



//GENERAL//

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}




//HEADER//
@import 'layout/header';

//MAIN-EQUIPO//
@import 'layout/mainTeam';

//MAIN-MIEMBROS
@import 'layout/whoWeAre';

//FOOTER//
@import 'layout/footer';

//PAGINA-CONTACTO//
@import 'layout/contactpage';




/*points reference links*/

.point-team {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -14%;
}
#s2{
  position: relative;
  margin-top:-100px;
}


section {
  position: relative;
}
