<hr class="footer-division">
<footer class="footer-main">
  <div class="copyright">Hola Mundo &copy; 2018</div>
  <nav class="footer-menu">
    <ul class="nav-list">
      <li class="foot-list"><a class="foot-a" href="#s1">EQUIPO</a> </a></li>
      <li class="foot-list"><a class="foot-a" href="#s2">QUIÉNES SOMOS</a></li>
      <li class="foot-list"><a class="foot-a" href="contact.html">CONTACTO</a></li>
    </ul>
  </nav>
  <div class="footer-img">
    <img class="footer-logo" src="assets/images/logo-adalab.png" alt="Logo-adalab">
  </div>
</footer>
