<hr class="footer-division">
<footer class="footer-main">
  <div class="copyright">Hola Mundo &copy; 2018</div>
  <nav class="footer-menu">
    <ul class="nav-list">
      <li class="foot-list"><a class="foot-a" href="#s1">EQUIPO</a> </a></li>
      <li class="foot-list"><a class="foot-a" href="#s2">QUIÉNES SOMOS</a></li>
      <li class="foot-list"><a class="foot-a" href="contact.html">CONTACTO</a></li>
    </ul>
  </nav>
  <a class="footer-img" href="https://adalab.es/" target="_blank">
    <img class="footer-logo" src="assets/images/logo-adalab.png"  alt="Logo-adalab">
  </a>
  <div class="dedication">
    <div class="dedication-heart"><i class="far fa-heart"></i></div>
    <p class="dedication-text">Esta web está dedicada a Mayte y a Patricia ¡Suerte con todo!</p>
</div>
</footer>
