<div id="hero">
    <header>
    <div class="nav-fixed">
      <div class="cont-nav">
        <div class="header-group-name"> 
          <a class="title" href="index.html">
            <h1 class="title">HOLA MUNDO</h1>
          </a>
        </div>
        <nav class="nav-header">
          <ul class="header-nav-list">
            <li><a class="nav-item-fixed" href="index.html#s1">EQUIPO</a></li>
            <li><a class="nav-item-fixed" href="index.html#s2">QUIÉNES SOMOS</a></li>
            <li><a class="nav-item-fixed" href="">CONTACTO</a></li>
          </ul>
        </nav>
      </div>
    </div>
    </header>
  </div>