<div id="hero">
    <div class="nav-fixed">
        <div class ="contnab">
        <div class="nombre-grupo"> <a class="titulo" href="#hero">
            <h1 class="titulo">HOLA MUNDO</h1></a>
        </div>
        <nav class="nav-header">
            <ul class="lista-nav">
                <li><a class="nav-item-fixed" href="#s1">EQUIPO</a></li>
                <li><a class="nav-item-fixed" href="#s2">QUIÉNES SOMOS</a></li>
                <li><a class="nav-item-fixed" href="../assets/pages/contacto.html">CONTACTO</a></li>
            </ul>            
        </nav>
    </div>
    </div>
        <header>
            <div class="claim">
                <p><q>La suerte tiene lugar, cuando la preparación se encuentra con la oportunidad.</q> </p>
                <p class="autor">- Earl Nightingale.</p> 
            </div>
        </header>
</div>