<div id="hero">
  <header>
  <div class="nav-fixed">
    <div class="cont-nav">
      <div class="header-group-name"> 
        <a class="title" href="#hero">
          <h1 class="title">HOLA MUNDO</h1>
        </a>
      </div>
      <nav class="nav-header">
        <ul class="header-nav-list">
          <li><a class="nav-item-fixed" href="#s1">EQUIPO</a></li>
          <li><a class="nav-item-fixed" href="#s2">QUIÉNES SOMOS</a></li>
          <li><a class="nav-item-fixed" href="contact.html">CONTACTO</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <button class="button-Hero btn-left"><</button>
  <button class="button-Hero btn-right">></button>
  <div class="cont-claim">
    <div class="claim">
      <p><q>La suerte tiene lugar, cuando la preparación se encuentra con la oportunidad.</q> </p>
      <p class="author">- Earl Nightingale.</p>
    </div>
  </div>
  </header>
</div>
