<main class="page__main"></main>
<section id="equipo">
  <div id="s1" class="point-equipo"></div>
  <section class="informacion-grupo">
    <h2 class="titulo-equipo">EQUIPO</h2>
    <p>Sí, ¡somos Adalabers! por eso nos gustan los nuevos retos , creemos en nuestro potencial y ¡vamos a lograrlo!
      Somos un grupo de mujeres con una gran experiencia en el área social, la comunicación, la investigación y hasta
      la hostelería...
    </p><br>
    <p>Ahora estamos en proceso de convertirnos en programadoras front - end profesionales, disfrutamos del camino y
      gracias a Adalab creemos en el futuro.</p>
  </section>
  <section class="fondo-fort-deb">
    <div class="triangle"></div>
    <section class="fortalezas-debilidades">
      <section class="fortalezas">
        <div class="triangulo"></div>
        <h3 class="dafo-for">Fortalezas</h3>
        <p>Nuestro equipo está compuesto en su totalidad por programadoras junior, pero aunque ahora estamos ante
          nuestros primeros proyectos nos sobran ganas para enfrentarnos a ellos.
        </p><br>
        <p>No nos asusta nada, hemos sido capaces de reinventarnos a nosotras mismas, apostando todo por un nuevo reto
          personal y profesional, donde estamos volcando toda nuestra pasión y ganas de aprender.
          Gracias a nuestras trayectorias profesionales en diferentes ámbitos podemos aportar nuevos puntos de vista a
          cualquier idea.</p>
      </section>
      <section class="debilidades">
        <h3 class="dafo-de">Debilidades</h3>
        <p>Debido a que desde pequeñas se nos inculca que el sector tecnológico no es para las mujeres, nos encontramos
          con una brecha de género en este sector masculinizado.
        </p><br>
        <p>El que nos hayamos formado en diferentes materias hace primero, que debamos formarnos desde puntos de inicio
          diferentes y con muchos conocimientos que adquirir haciendo
          que el camino por recorrer sea largo, y segundo, superar el síndrome del impostor, que si bien se da en
          diferentes momentos de la carrera profesional de una persona, cuando se trata de perfiles junior como el
          nuestro es una barrera más difícil aún de franquear.</p>
      </section>
    </section>
  </section>
</section>
