<section id="woWeAre">
  <div id="s2" class="point-woWeAre"></div>
  <h2 class="woWeAre__title ">QUIÉNES SOMOS</h2>
  <div class="members">
    <ul class="list-member">
      <li class="member_team alineado_izq">
        <img class="image_beatriz" src="assets/images/beatriz.png" alt="foto Beatriz">
        <h4 class="name-member">Beatriz García</h4>
        <p class="information-member">Siempre he creído que la comunicación mueve el mundo.
          Por eso tras 10 años de experiencia profesional en radio y televisión quiero explorar nuevos formatos.
          <br>Ahora con la programación front-end puedo trabajar en la red,
          comprender el área técnica y disfrutar de la comunicación online, y lo más importante...conectar personas.</p>
        <ul class="social-icon_member">
          <li> <a href="https://twitter.com/Beatriz48916102" target="_blank"> <i class="fab fa-twitter fa-2x" style="color:#099d8d"></i>
            </a></li>
          <span>&bull;</span>
          <li> <a href="https://www.linkedin.com/in/beatriz-garcia-jimenez/" target="_blank"> <i class="fab fa-linkedin-in fa-2x"
                style="color:#099d8d"></i> </a> </li>
          <span>&bull;</span>
          <li> <a href="https://github.com/beatrizAdalab" target="_blank"> <i class="fab fa-github-alt fa-2x" style="color:#099d8d"></i>
            </a> </li>
          <span>&bull;</span>
          <li> <a href="mailto: beatrizgarcia.jim@gmail.com"> <i class="fas fa-envelope fa-2x" style="color:#099d8d"></i></i></a>
          </li>

        </ul>
      <li class="member_team alineado_dcha">
        <img class="image-member" src="assets/images/clara.png" alt="foto Clara">
        <h4 class="name-member">Clara Harguindey</h4>
        <p class="information-member">Si “cualquier tecnología suficientemente avanzada es indistinguible de la magia”
          ¡quiero ser maga! He desarrollado proyectos de mediación cultural basados en estrategias digitales
          y de gamificación en diferentes museos de Madrid. <br>Ahora, gracias a Adalab, pretendo cambiar de rumbo
          y apostar por la dimensión técnica, siendo programadora front-end.</p>
        <ul class="social-icon_member">
          <li> <a href="" target="_blank"> <i class="fab fa-twitter fa-2x" style="color:#099d8d"></i> </a></li>
          <span>&bull;</span>
          <li> <a href="https://www.linkedin.com" target="_blank"> <i class="fab fa-linkedin-in fa-2x" style="color:#099d8d"></i>
            </a> </li>
          <span>&bull;</span>
          <li> <a href="" target="_blank"> <i class="fab fa-github-alt fa-2x" style="color:#099d8d"></i> </a> </li>
          <span>&bull;</span>
          <li> <a href="mailto: @gmail.com"> <i class="fas fa-envelope fa-2x" style="color:#099d8d"></i></i></a> </li>
        </ul>
      </li>
      <li class="member_team alineado_izq">
        <img class="image-member" src="assets/images/joana.png" alt="foto Joana">
        <h4 class="name-member">Joana Jiménez</h4>
        <p class="information-member">Mi experiencia como veterinaria en urgencias me ha enseñado a lidiar con la
          presión en el trabajo.
          <br>Los dos últimos años he emprendido desde cero un proyecto de hostelería aprendiendo trabajo en equipo,
          organización y siendo autodidacta en áreas que desconocía. Ahora empiezo esta aventura profesional
          con mucha ilusión.</p>
        <ul class="social-icon_member">
          <li> <a href="" target="_blank"> <i class="fab fa-twitter fa-2x" style="color:#099d8d"></i> </a></li>
          <span>&bull;</span>
          <li> <a href="https://www.linkedin.com" target="_blank"> <i class="fab fa-linkedin-in fa-2x" style="color:#099d8d"></i>
            </a> </li>
          <span>&bull;</span>
          <li> <a href="https://github.com/joanajimfer" target="_blank"> <i class="fab fa-github-alt fa-2x" style="color:#099d8d"></i>
            </a> </li>
          <span>&bull;</span>
          <li> <a href="mailto: joanajimfer@gmail.com"> <i class="fas fa-envelope fa-2x" style="color:#099d8d"></i></i></a>
          </li>
        </ul>
      </li>
      <li class="member_team alineado_dcha">
        <img class="image-member" src="assets/images/mayte.png" alt="foto Mayte">
        <h4 class="name-member">Maria Teresa Martínez</h4>
        <p class="information-member">Soy de Cartagena, y llevo dos años viviendo en Madrid.
          He trabajado en el área social, pero tengo un perfil polivalente.
          En mi trabajo siempre he tenido que trabajar con ordenadores, de ahí que mi interés por el mundo tecnológico.</p>
        <ul class="social-icon_member">
          <li> <a href="https://twitter.com/mtnezmayte" target="_blank"> <i class="fab fa-twitter fa-2x" style="color:#099d8d"></i>
            </a></li>
          <span>&bull;</span>
          <li> <a href="https://www.linkedin.com" target="_blank"> <i class="fab fa-linkedin-in fa-2x" style="color:#099d8d"></i>
            </a> </li>
          <span>&bull;</span>
          <li> <a href="https://github.com/maytemartinez" target="_blank"> <i class="fab fa-github-alt fa-2x" style="color:#099d8d"></i>
            </a> </li>
          <span>&bull;</span>
          <li> <a href="mailto: mariateresa.martinez.ibanez@gmail.com"> <i class="fas fa-envelope fa-2x" style="color:#099d8d"></i></i></a>
          </li>
        </ul>
      </li>
      <li class="member_team alineado_izq">
        <img class="image-member" src="assets/images/patricia.png" alt="foto Patricia">
        <h4 class="name-member">Patricia Muñoz</h4>
        <p class="information-member">Ingeniera de materiales con experiencia en investigación reinventándome a
          programadora.
          De Laguna de Duero (Valladolid) pero viviendo en Madrid desde hace 12 años. Fan del rock,
          las series y todo lo relacionado con STEM (Ciencia, Tecnología, Ingeniería y Matemáticas).</p>
        <ul class="social-icon_member">
          <li> <a href="https://twitter.com/Patriciamunozal" target="_blank"> <i class="fab fa-twitter fa-2x" style="color:#099d8d"></i>
            </a></li>
          <span>&bull;</span>
          <li> <a href="https://es.linkedin.com/in/patricia-muñoz-alonso" target="_blank"> <i class="fab fa-linkedin-in fa-2x"
                style="color:#099d8d"></i> </a> </li>
          <span>&bull;</span>
          <li> <a href="https://github.com/patriciamunozal" target="_blank"> <i class="fab fa-github-alt fa-2x" style="color:#099d8d"></i>
            </a> </li>
          <span>&bull;</span>
          <li> <a href="mailto: munozalonso.patricia@gmail.com"> <i class="fas fa-envelope fa-2x" style="color:#099d8d"></i></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
