/*GENERAL---------------------*/* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

li {
  display: inline-block;
}/*HEADER*/#hero {
  width: 100%;
  background-image: url(../images/team.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 421px;
  top: 0;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  font-family: 'Rubik';
  font-weight: 500;
  background-color: rgba(9, 157, 141, 0.9);
}

.nombre-grupo {
  width: 100%;
  font-size: 16px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.titulo {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Rubik';
  font-weight: 500;
}

header {
  position: relative;
}

.nav-header {
  background-color: rgba(20, 217, 196, 0.9);
  height: 45px;
}

.lista-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-item-fixed {
  color: white;
  text-align: center;
  display: block;
  padding-top: 14.5px;
  text-decoration: none;
  font-size: 16px;
}

.claim {
  padding: 15px;
  background-color: white;
  color: black;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: 387px;
  margin-right: 15px;
  margin-left: 15px;
}/* SECTION EQUIPO*/.main-equipo {
  width: 100%;
  padding-top: 99px;
}

.informacion-grupo {
  margin: 30px;
}

#equipo {
  text-align: center;
  font-size: 16px;
}

.titulo-equipo,.title-quienes {
  color: #099d8d;
  text-align: center;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 24px;
}

.dafo-for,.dafo-de {
  color: #099d8d;
  text-align: center;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 22px;
}

.titulo-equipo,h3 {
  margin-bottom: 15px;
}

.fortalezas-debilidades {
  background-color: #f1f1f1;
  padding-top: 0px;
}

.triangulo2 {
  display: none;
  position: relative;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
 /* izquierda flecha */
  border-right: 20px solid transparent;
 /* derecha flecha */
  border-top: 20px solid red;
 /* base flecha y color*/
  font-size: 0px;
  line-height: 0px;
}

.dafo-for {
  padding-top: 15px;
}

.fortalezas {
  padding-left: 30px;
  padding-right: 30px;
  color: #54585a;
}

.debilidades {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
  color: #54585a;
}

.triangulo {
  position: relative;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
 /* izquierda flecha */
  border-right: 20px solid transparent;
 /* derecha flecha */
  border-top: 20px solid white;
 /* base flecha y color*/
  font-size: 0px;
  line-height: 0px;
}

#quienes-somos {
  padding: 30px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}/*MIEMBROS*/.imagen_beatriz {
  width: 180px;
  height: 180px;
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 90px;
  border: 5px solid #f1f1f1;
}

.imagen_miembro {
  width: 180px;
  height: 180px;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 90px;
  border: 5px solid #f1f1f1;
}

.nombre_miembro {
  margin: 15px;
  color: black;
  font-size: 20px;
}

.informacion-miembro {
  color: #54585a;
  font-size: 16px;
}

.list-participantes {
  list-style-type: none;
  text-align: center;
}

.icono_social_miembro {
  text-align: center;
  margin-top: 15px;
  font-size: 10px;
}

span {
  position: relative;
  bottom: 5px;
  margin: 10px;
}/*FOOTER*/.copyright {
  font-family: "Open Sans";
  padding-top: 30px;
  padding-bottom: 20px;
  color: #b8b8b9;
  font-size: 14px;
  text-align: center;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-division {
  position: center;
  color: #b8b8b9;
}

.foot-list {
  list-style: none;
  font-family: "Open Sans", bold;
  color: #b8b8b9;
  text-align: center;
  font-size: 14px;
}

.footer-img {
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 45px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-logo {
  width: 119.5px;
  height: 45px;
  margin: 0px;
  padding: 0px;
}

.foot-a {
  display: inline-block;
  color: #b8b8b9;
  font-weight: bold;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}/*PUNTOS REFERENCIA ENLACES*/.point-equipo {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -14%;
}

.point-quienes {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: -4.5%;
}

section {
  position: relative;
}/*PAGINA CONTACTO*/.titulo-contacto {
  font-family: 'Rubik';
  color: #099d8d;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.seccion-contacto {
  text-align: center;
  margin: 15px;
  margin-top: 0px;
}

.hero-contacto {
  width: 100%;
  background-image: url(../images/contacto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  top: 0;
}

.main-contacto {
  width: 100%;
  color: #54585a;
  padding-bottom: 100px;
}

.copyright-contacto {
  font-family: "Open Sans";
  padding-top: 30px;
  padding-bottom: 20px;
  color: #b8b8b9;
  opacity: 0.5;
  font-size: 14px;
  text-align: center;
}

.foot-list-contacto {
  display: block;
}

.main-footer-contacto {
  text-align: center;
}

.footer-logo-contact {
  width: 119.5px;
  height: 45px;
  margin: 30px 30px 45px 30px;
}/* mediaqueries--------------------------------*//* SIZE TABLET*----------------------------------------------------------*//* RESPONSIVE LAPTOP------------------------------------------------------------*/@media all and (min-width: 768px) {
/*HEADER TABLET*/  .contnab {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav-fixed {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #099d8d;
    height: 60px;
    margin-right: 45px;
  }

  .nav-header {
    background-color: rgba(20, 217, 196, 0);
  }

  .nombre-grupo {
    width: 50%;
  }

  .lista-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 45px;
    height: 60px;
  }

  .claim {
    padding: 15px 30px;
    position: absolute;
    top: 355px;
    width: 441px;
    margin-left: 45px;
    background-color: rgba(255, 255, 255, 0.8);
  }/* informacion grupo tablet*/  .informacion-grupo {
    margin-top: 45px;
    margin-bottom: 60px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .titulo-equipo {
    margin-top: 45px;
    margin-bottom: 15px;
  }

  .fortalezas-debilidades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 45px;
    padding-bottom: 60px;
    margin-top: 0px;
  }

  .fortalezas {
    padding-right: 15px;
    padding-left: 45px;
    width: 50%;
  }

  .debilidades {
    padding-left: 15px;
    margin-top: 0px;
    padding-right: 45px;
    padding-bottom: 0px;
    width: 50%;
  }

  .dafo-de {
    color: #099d8d;
    margin-top: 0px;
  }

  .triangulo {
    display: none;
  }

  .dafo-for {
    padding-top: 0px;
  }

  .triangle {
    position: relative;
    left: 50%;
    margin-left: -15px;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
 /* izquierda flecha */
    border-right: 20px solid transparent;
 /* derecha flecha */
    border-top: 20px solid white;
 /* base flecha y color*/
    font-size: 0px;
    line-height: 0px;
    z-index: 10;
    top: 20px;
  }/* QUIENES SOMOS*/  #quienes-somos {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .informacion_miembro {
    margin-bottom: 15px;
  }

  .imagen_beatriz {
    margin-right: 30px;
    height: 205px;
    width: 205px;
    border-radius: 103px;
    margin-bottom: 40px;
 /* para evitar que los iconos sociales caigan debajo" */}.imagen_miembro {height: 205px;width: 205px;border-radius: 103px;margin-bottom: 40px;}.miembro_equipo {margin-bottom: 60px;}.alineado_izq > img {float: left;margin-right: 30px;}.alineado_izq > p,.alineado_izq > .icono_social_miembro {text-align: left;}.alineado_dcha > img {float: right;margin-left: 30px;}.alineado_dcha > p,.alineado_dcha > h4,.alineado_dcha > .icono_social_miembro {text-align: right;}.nombre_miembro {text-align: left;}/*footer*/.footer-main {position: relative;margin-left: 45px;margin-right: 45px;font-size: 14px;}.footer-menu {position: absolute;right: 0px;padding-top: 25px;}.footer-img {position: absolute;left: 0;}.footer-logo {margin-top: 15px;padding-top: 15px;}.copyright {position: absolute;left: 0;padding-top: 30px;}.foot-list {text-align: right;}/* CONTACT RESPONSIVE TABLET*//* header*/.nav-fixed {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;DISPLAY: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;background-color: rgba(9, 157, 141, 0.9);}.nombre-grupo {width: auto;margin-left: 15px;}.nav-header {background-color: rgba 0, 0, 0, 0;height: 100%;margin-right: 15px;}.nav-item-fixed,h1 {padding: 15px;}/* main*/.main-contacto {width: 442px;margin: auto;}/* footer*/.main-footer-contacto {padding: 30px 30px 60px 30px;position: relative;text-align: justify;}.copyright-contacto {padding-top: 0px;padding-bottom: 0px;text-align: left;display: inline-block;font-size: 14px;color: #b8b8b9;}.copy-logo-contacto,.footer-menu-contacto {display: inline-block;}.foot-list-contacto {display: block;}.footer-menu-contacto {position: absolute;right: 45px;text-align: right;}.footer-logo-contact {margin: 15px 0px 0px 0px;}}@media all and (min-width: 1200px) {/*nav*/.contnab {width: 924px;margin: auto;height: 60px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}.nombre-grupo {margin-left: 0px;padding: 0px;}.nav-fixed {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;margin-right: 0%;}header {width: 924px;margin: auto;position: relative;bottom: 35px;}.claim {margin-left: 0px;}/* HOME- EQUIPO, FORT y DEB*/.informacion-grupo {max-width: 601px;position: relative;left: 50%;margin-left: -300px;}.fortalezas {padding-right: 22px;padding-left: 0px;width: 50%;}.debilidades {padding-left: 23px;padding-right: 0px;width: 50%;}.fortalezas-debilidades {width: 924px;margin: auto;}.fondo-fort-deb {background-color: #f1f1f1;padding-left: 45px;padding-right: 45px;}.triangle {top: 0px;}/*QUINES SOMOS LAPTOP*/.list-participantes {width: 924px;margin: auto;}.imagen_beatriz,.imagen_miembro {height: 278px;width: 278px;border-radius: 135px;}.informacion_miembroz {max-width: 439px;margin: auto;}.miembro_equipo {width: 100%;}/*CONTACTO...........*//* footer contact------------------------*//* header*/.titulo {margin-left: 0px;padding-left: 0px;}.hero-contacto {height: 400px;}.titulo-contacto {padding-top: 40px;}.nombre-grupo {margin-left: 0%;}.nav-header {margin-right: 0%;}/* main*/.main-contacto {width: 610px;}.foot-list-contacto {display: block;}/* footer*/.main-footer-contacto {width: 924px;margin: auto;padding: 30px 0 60px 0;}.footer-logo-contact {margin: 15px 0px 0px 0px;}.footer-main {width: 924px;margin: auto;}/*CONTACTO...........*//* footer contact------------------------*//* header*/.hero-contacto {height: 400px;}.titulo-contacto {padding-top: 40px;}.nombre-grupo {margin-left: 0%;}.nav-header {margin-right: 0%;}/* main*/.main-contacto {width: 610px;}.foot-list-contacto {display: block;}/* footer*/.main-footer-contacto {width: 924px;margin: auto;padding: 30px 0 60px 0;}.footer-logo-contact {margin: 15px 0px 0px 0px;}.footer-main {width: 924px;margin: auto;}}

/*# sourceMappingURL=main.css.map */
