/*PAGINA CONTACTO*/

.titulo-contacto{
  color: $MainLettersColor;
  text-align: center;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
}

.main-intro {
  font-size: 16px;
  color: #54585a;
  min-width: 290px;
  font-family: 'Open Sans';
}

.notice {
  color: #54585a;
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 58px;
}

.asterisk {
  color: $MainLettersColor;
}

#fullname,
#email,
#telephone,
#message {
  color: #54585a;
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  display: block;
  width: calc(100% - 30px);
  margin: 5px 15px 15px 15px;
  height: 45px;
  text-indent: 5px;
}

.button {
  display: block;
  width: calc(100% - 30px);
  margin: 30px 15px 15px 15px;
  height: 45px;
  background-color: #099d8d;
  color: white;
  font-family: 'OpenSans-SemiBold';
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  border: none;

}

#message {
  height: 105px;
}

.labelform {
  color: #54585a;
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  margin-left: 15px;
}


.seccion-contacto {
  text-align: center;
  margin: 15px;
  margin-top: 0px;

}

.main-contacto {
  max-width: 290px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #54585a;
  padding-bottom: 100px;
}

//PAGINA CONTACTO PARA TABLET//   

@media all and (min-width:768px) {

  //HEADER//

  .nav-fixed {
    justify-content: space-between;
    DISPLAY: flex;
    align-items: center;
    background-color: rgba(9, 157, 141, 0.9);
  }

  .nombre-grupo {
    width: auto;
    margin-left: 15px;
  }

  .nav-header {
    background-color: rgba (0, 0, 0, 0);
    height: 100%;
    margin-right: 15px;
  }

  .nav-item-fixed,
  h1 {
    padding: 15px;
  }

  //main//


  .main-contacto {
    min-width: 442px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 135px;
    padding: 0px;
  }

  //FOOTER//

  .main-footer-contacto {
    padding: 30px 30px 60px 30px;
    position: relative;
    text-align: justify;

  }

  .copyright-contacto {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    display: inline-block;
    font-size: 14px;
    color: #b8b8b9;
  }

  .copy-logo-contacto,
  .footer-menu-contacto {
    display: inline-block;
  }

  .foot-list-contacto {
    display: block;
  }

  .footer-menu-contacto {
    position: absolute;
    right: 45px;
    text-align: right
  }

  .footer-logo-contact {
    margin: 15px 0px 0px 0px;
  }
}


@media all and (min-width:1200px) {

  


  //main//

  .main-contacto {
    min-width: 601px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 195px;
  }

  .foot-list-contacto {
    display: block;
  }

  //footer//

  

  /*CONTACTO...........*/
  //footer contact------------------------//
  //header//



  .hero-contacto {
    height: 400px;
  }

  .titulo-contacto {
    padding-top: 40px;
  }

  .nombre-grupo {
    margin-left: 0%;
  }

  .nav-header {
    margin-right: 0%;
  }

  //MAIN//

  .main-contacto {
    width: 610px;
  }

  .foot-list-contacto {
    display: block;
  }

  //FOOTER//



}
