/*PAGINA CONTACTO*/

.titulo-contacto {
  color: $MainLettersColor;
  text-align: center;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
}

.main-intro {
  font-size: 16px;
  color: $colorFont;
  min-width: 290px;
  font-family: 'Open Sans';
}

.notice {
  color: $colorFont;
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 58px;
}

.asterisk {
  color: $MainLettersColor;
}

#fullname,
#email,
#telephone,
#message {
  color: $colorFont;
  font-family: 'Open Sans';
  font-size: 14px;
  display: block;
  width: calc(100% - 30px);
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  text-indent: 5px;
  margin-bottom: 20px;
  border: 1px solid $FooterColor;
}

.button {
  display: block;
  width: calc(100% - 30px);
  margin: 30px 15px 15px 15px;
  height: 45px;
  background-color:$MainLettersColor;
  color: white;
  font-family: 'OpenSans-SemiBold';
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;

}

#message {
  height: 105px;
}

.labelform {
  color: $colorFont;
  font-family: 'Open Sans';
  font-size: 14px;
  margin-left: 15px;
}


.seccion-contacto {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.main-contacto {
  width: 290px;
  padding: 0px 15px 0px 15px;
  margin-top: 30px; 
  margin-left: auto;
  margin-right: auto;
  color: $colorFont;
  padding-bottom: 100px;
}

//PAGINA CONTACTO PARA TABLET//   

@media all and (min-width:768px) {

  //HEADER//

  .nav-fixed {
    justify-content: space-between;
    DISPLAY: flex;
    align-items: center;
    background-color: rgba(9, 157, 141, 0.9);
  }

  .nombre-grupo {
    width: auto;
    margin-left: 15px;
  }

  .nav-header {
    background-color: rgba (0, 0, 0, 0);
    height: 100%;
    margin-right: 15px;
  }

  .nav-item-fixed,
  h1 {
    padding: 15px;
  }
 .button {
   width: 206px;
   margin-top: 30px;
   margin-bottom: 60px;
   margin-right: 0px;
   margin-left: 220px;
 }
  //main//


  .main-contacto {
    min-width: 442px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 0px;
  }

  //FOOTER//

  .main-footer-contacto {
    padding: 30px 30px 60px 30px;
    position: relative;
    text-align: justify;

  }

  .copyright-contacto {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    display: inline-block;
    font-size: 14px;
    color: $FooterColor;
  }

  .copy-logo-contacto,
  .footer-menu-contacto {
    display: inline-block;
  }

  .foot-list-contacto {
    display: block;
  }

  .footer-menu-contacto {
    position: absolute;
    right: 45px;
    text-align: right
  }

  .footer-logo-contact {
    margin: 15px 0px 0px 0px;
  }
}


@media all and (min-width:1200px) {




  //main//

  .main-contacto {
    min-width: 601px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 195px;
  }

  .foot-list-contacto {
    display: block;
  }

  //footer//



  /*CONTACTO...........*/
  //footer contact------------------------//
  //header//



  .hero-contacto {
    height: 400px;
  }

  .titulo-contacto {
    padding-top: 40px;
  }

  .nombre-grupo {
    margin-left: 0%;
  }

  .nav-header {
    margin-right: 0%;
  }

  //MAIN//
  .button {
    width: 278px;
    margin-bottom: 120px;
    margin-left: 335px;
  }
  .main-contacto {
    margin-bottom: 0px;
    width: 610px;
  }

  .foot-list-contacto {
    display: block;
  }

  .form-tel-mail {
    display: flex;
    width: 610px;
    justify-content: space-between;
    margin: 0px;
  }

  #email {
    width: 395px;
    margin: 0px;
  }

  #telephone {
    width: 162px;
    margin: 0px;
    margin-left: 44px;
  }

  #fullname,
  #message {
    width: 610px;
  }

  .labelform {
    margin-left: auto;
  }

  .labeltel {
    margin-left: 44px;
  }

}
