/*HEADER*/
#hero {
  width: 100%;
  background-image: url(../images/team.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 421px;
  top: 0;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  font-family: $HeaderLettersFont;
  font-weight: $HeaderLettersWeight;
  background-color: rgba(9, 157, 141, 0.9);
}

.header-group-name {
  width: 100%;
  font-size: 16px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-family: $HeaderLettersFont;
  font-weight: 500;
}

.nav-header {
  background-color: rgba(20, 217, 196, 0.9);
  height: 45px;
}

.header-nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.nav-item-fixed {
  color: white;
  text-align: center;
  display: block;
  padding-top: 14.5px;
  text-decoration: none;
  font-size: 15px;
}

.claim {
  padding: 15px;
  background-color: white;
  color: black;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: 387px;
  margin-right: 15px;
  margin-left: 15px;
}

/*HEADER TABLET*/

@media all and (min-width:768px) {
  .cont-nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }

  .nav-fixed {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #099d8d;
    height: 60px;
    margin-right: 45px;
  }

  .nav-header {
    background-color: rgba(20, 217, 196, 0);
  }

  .header-group-name {
    width: 50%;
    justify-content: space-between;
    margin-left:45px;
  }

  .header-nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 45px;
    height: 60px;
  }
.cont-claim{
  position:relative;
}
  .claim {
    padding: 15px 30px;
    position: absolute;
    top: 355px;
    width: 441px;
    margin-left: 45px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

//HEADER LAPTOP//

@media all and (min-width:1200px) {

  .cont-nav {
    width: 924px;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }

  .header-group-name {
    margin-left: 0px;
    padding: 0px;
  }

  .nav-fixed {
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
  }

  .cont-claim {
    width: 924px;
    margin: auto;
    position: relative;
    bottom: 35px;
  }

  .claim {
    margin-left: 0px;
  }
}
