
  .image_beatriz {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: 5px solid #f1f1f1;
  }

  #whoWeAre{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 105px 1fr;
  }

  .whoWeAre__title {
    grid-column: span 1;
    grid-row: span 1;
    font-size: 24px;
    color: $MainLettersColor;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 500;
    margin-top: 45px;
  }

  .list-member{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 45px;
    @include members();
  }

  .member_team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
  }

  .name-member{
      line-height: 45px;
      font-size: 20px;
  }

  .image-member {
    @include memberImage;
  }

  .information-member{
      font-size: 16px;
      padding-bottom: 15px;
      text-align: center;
  }

  .social-icon_member{
    font-size:16px;
  }
  //MAIN-WHOWEARE for TABLET//
  
  @media all and (min-width:768px) {
  
   
  }
  
  //QUINES SOMOS PARA LAPTOP//
  
  @media all and (min-width:1200px) {
  
  

  }