#whoWeAre {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px 105px 1fr;
}

.whoWeAre__title {
  grid-column: span 1;
  grid-row: span 1;
  font-size: 24px;
  color: $MainLettersColor;
  text-align: center;
  font-family: 'Rubik';
  font-weight: 500;
  margin-top: 45px;
}

.list-member {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-bottom: 45px;
  @include members();
}

.member_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.name-member {
  line-height: 45px;
  font-size: 20px;
}

.image-member {
  @include memberImage;
}

.member1 {
  img {
    margin-top: 0;
  }
}

.information-member {
  font-size: 16px;
  padding-bottom: 15px;
  text-align: center;
}

.social-icon_member {
  font-size: 8px;
  line-height: 30px;
  
  li{
    padding: 0 10px;
  }
}

//MAIN-WHOWEARE for TABLET//

@media all and (min-width:768px) {

  .list-member {
    padding: 0 45px 45px 45px;
  }

  .left {
    display: grid;
    grid-template-columns: 205px 1fr;
    grid-template-rows: 45px auto auto;
    padding-bottom: 60px;
    @include memberstabletLeft();
    @include memberLeft(); 
  }

  .right {
    display: grid;
    grid-template-columns: 1fr 205px;
    grid-template-rows: 45px auto auto;
    padding-bottom: 60px;
    @include memberstabletRight();
    @include memberRight(); 
  }

}

//QUINES SOMOS PARA LAPTOP//

@media all and (min-width:1200px) {
.list-member{
  padding: 0;
  width: 924px;
  margin: auto;
}

.information-member{
  width: 439px;
}

}
