//VARIABLES FROM HEADER

$HeaderLettersSize: 16px;
$HeaderLettersFont: 'Rubik';
$HeaderLettersWeight: 500;
$HeaderLettersColor: white;

//VARIABLES FROM MAIN

$MainLettersColor: #099d8d;
$MainSoftColor: #f1f1f1;
$MainLetter:#d8d8d8;

//VARIABLES FROM FOOTER

$FooterFont: 'Open Sans';
$FooterColor: #b8b8b9;
$FooterFontSize: 14px;


